# Limpeza de Dados Básica

### 1.1 Importando as tabela e bibliotecas

In [20]:
import pandas as pd

df_dict = pd.read_csv(r'C:\Users\Usuario\OneDrive\Documentos\final-project\final-project\data\P18_dicionario_dados.csv', encoding='utf-8', sep=',')
df_cancel = pd.read_csv(r'C:\Users\Usuario\OneDrive\Documentos\final-project\final-project\data\P18_cancelamentos.csv', encoding='utf-8', sep=',')
df_contratos = pd.read_csv(r'C:\Users\Usuario\OneDrive\Documentos\final-project\final-project\data\P18_contratos.csv', encoding='utf-8', sep=',')
df_clientes= pd.read_csv(r'C:\Users\Usuario\OneDrive\Documentos\final-project\final-project\data\P18_clientes.csv', encoding='utf-8', sep=',')

### 1.2 Verificando se há nulos nas tabelas.
---
**Não há nulos**

In [ ]:
df_clientes.isnull().sum()

id_contrato                           0
data_cancelamento                     0
motivo_cancelamento                   0
canal_cancelamento                    0
avaliacao_experiencia_cancelamento    0
dtype: int64

In [24]:
df_cancel.isnull().sum()

id_contrato                           0
data_cancelamento                     0
motivo_cancelamento                   0
canal_cancelamento                    0
avaliacao_experiencia_cancelamento    0
dtype: int64

In [25]:
df_contratos.isnull().sum()

id_contrato                    0
id_cliente                     0
tipo_seguro                    0
data_inicio                    0
data_fim                       0
valor_premio_mensal            0
satisfacao_ultima_avaliacao    0
canal_venda                    0
renovado_automaticamente       0
dtype: int64

### 1.3 Verificando tipos dos dados

Tabela de Clientes
5000 Linhas X 11 Colunas

In [28]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_cliente         5000 non-null   object
 1   nome               5000 non-null   object
 2   data_nascimento    5000 non-null   object
 3   genero             5000 non-null   object
 4   cidade_residencia  5000 non-null   object
 5   estado_residencia  5000 non-null   object
 6   profissao          5000 non-null   object
 7   renda_mensal       5000 non-null   float64
 8   nivel_educacional  5000 non-null   object
 9   qtd_dependentes    5000 non-null   int64
 10  data_cadastro      5000 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 429.8+ KB

Tabela de Cancelamento
2520 Linhas X 5 Colunas

In [27]:
df_cancel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id_contrato                         2520 non-null   object
 1   data_cancelamento                   2520 non-null   object
 2   motivo_cancelamento                 2520 non-null   object
 3   canal_cancelamento                  2520 non-null   object
 4   avaliacao_experiencia_cancelamento  2520 non-null   object
dtypes: object(5)
memory usage: 98.6+ KB

Tabela de Contratos
12000 Linhas X 9 Colunas

In [26]:
df_contratos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id_contrato                  12000 non-null  object
 1   id_cliente                   12000 non-null  object
 2   tipo_seguro                  12000 non-null  object
 3   data_inicio                  12000 non-null  object
 4   data_fim                     12000 non-null  object
 5   valor_premio_mensal          12000 non-null  float64
 6   satisfacao_ultima_avaliacao  12000 non-null  object
 7   canal_venda                  12000 non-null  object
 8   renovado_automaticamente     12000 non-null  bool
dtypes: bool(1), float64(1), object(7)
memory usage: 761.8+ KB

#### Verificando se precisa de Limpeza em cada tabela

Tabela de Clientes

In [29]:
df_clientes.head(100)

,id_cliente,nome,data_nascimento,genero,cidade_residencia,estado_residencia,profissao,renda_mensal,nivel_educacional,qtd_dependentes,data_cadastro
0,C00001,Noah Santos,1993-06-18,Masculino,Londrina,PR,Preparador de máquinas,1962.70,Superior,3,2024-01-14
1,C00002,Matheus Nascimento,1987-04-18,Masculino,Londrina,PR,Flanelinha,4081.45,Fundamental,0,2022-11-26
2,C00003,Sra. Pietra Farias,1960-07-09,Outro,Londrina,PR,Embalador,18005.32,Fundamental,0,2024-02-03
3,C00004,Vicente Ferreira,1978-12-02,Feminino,Londrina,PR,Infectologista,2087.98,Fundamental,0,2021-12-26
4,C00005,Evelyn Costa,1976-08-29,Masculino,Londrina,PR,Reumatologista,10849.07,Fundamental,3,2022-11-14
...,...,...,...,...,...,...,...,...,...,...,...
95,C00096,Luiz Felipe Almeida,1976-02-29,Feminino,Londrina,PR,Arquivista,6712.49,Médio,0,2021-10-02
96,C00097,Luiz Gustavo da Mata,2003-06-16,Feminino,Londrina,PR,Advogado,5266.55,Superior,1,2022-05-07
97,C00098,Sophie Peixoto,1973-03-22,Feminino,Londrina,PR,Mensageiro,6145.74,Fundamental,4,2020-10-08
98,C00099,Dr. Enzo Gabriel Duarte,1962-07-01,Outro,Londrina,PR,Arrumadeira,9336.15,Superior,5,2024-02-13
99,C00100,Dr. Gustavo Henrique Teixeira,1999-11-14,Masculino,Londrina,PR,Engenheiro elétrico,7670.80,Médio,2,2024-09-16

Limpeza nos prefixos dos nomes, e retirar espaços em branco ao final e começo.

In [36]:
df_clientes['nome'] = df_clientes['nome'].str.removeprefix('Dr.')
df_clientes['nome'] = df_clientes['nome'].str.removeprefix('Sra.')
df_clientes['nome'] = df_clientes['nome'].str.removeprefix('Sr.')
df_clientes['nome'] = df_clientes['nome'].str.removeprefix('Dra.')

df_clientes['nome'] = df_clientes['nome'].str.strip()
df_clientes.head(100)

,id_cliente,nome,data_nascimento,genero,cidade_residencia,estado_residencia,profissao,renda_mensal,nivel_educacional,qtd_dependentes,data_cadastro
0,C00001,Noah Santos,1993-06-18,Masculino,Londrina,PR,Preparador de máquinas,1962.70,Superior,3,2024-01-14
1,C00002,Matheus Nascimento,1987-04-18,Masculino,Londrina,PR,Flanelinha,4081.45,Fundamental,0,2022-11-26
2,C00003,Pietra Farias,1960-07-09,Outro,Londrina,PR,Embalador,18005.32,Fundamental,0,2024-02-03
3,C00004,Vicente Ferreira,1978-12-02,Feminino,Londrina,PR,Infectologista,2087.98,Fundamental,0,2021-12-26
4,C00005,Evelyn Costa,1976-08-29,Masculino,Londrina,PR,Reumatologista,10849.07,Fundamental,3,2022-11-14
...,...,...,...,...,...,...,...,...,...,...,...
95,C00096,Luiz Felipe Almeida,1976-02-29,Feminino,Londrina,PR,Arquivista,6712.49,Médio,0,2021-10-02
96,C00097,Luiz Gustavo da Mata,2003-06-16,Feminino,Londrina,PR,Advogado,5266.55,Superior,1,2022-05-07
97,C00098,Sophie Peixoto,1973-03-22,Feminino,Londrina,PR,Mensageiro,6145.74,Fundamental,4,2020-10-08
98,C00099,Enzo Gabriel Duarte,1962-07-01,Outro,Londrina,PR,Arrumadeira,9336.15,Superior,5,2024-02-13
99,C00100,Gustavo Henrique Teixeira,1999-11-14,Masculino,Londrina,PR,Engenheiro elétrico,7670.80,Médio,2,2024-09-16

Tabela de Cancelamentos

Não há limpezas a serem feitas, mas para identificar de quem é o cancelamento será necessário vincular com a tabela de Contratos.

In [37]:
df_cancel.head(100)

,id_contrato,data_cancelamento,motivo_cancelamento,canal_cancelamento,avaliacao_experiencia_cancelamento
0,b6017e2b-776e-4f82-8e6a-547547bf0a7e,2026-10-14,Cobertura insuficiente,App,Boa
1,0c86dcbd-f969-46a2-a3e0-098be5d2aee7,2024-04-13,Mudança de seguradora,App,Boa
2,61a96c70-1c24-45db-a4a4-3fd35474d52e,2024-07-04,Cobertura insuficiente,Agência,Neutra
3,7713e74c-09f5-493c-b789-c9e1860c3acc,2025-08-21,Preço alto,Agência,Boa
4,171f5114-96f7-4ea7-8f97-beb513588b1b,2025-02-04,Cobertura insuficiente,Agência,Ruim
...,...,...,...,...,...
95,c2adef51-d3a2-439b-8a2a-99610a48755e,2023-04-07,Cobertura insuficiente,App,Boa
96,101e8d72-19ac-4fbd-89b3-db64343e533b,2025-05-22,Problemas no sinistro,Agência,Ruim
97,f5c35374-b107-4cf3-96b2-9e5db0c3d2e5,2023-11-25,Mudança de seguradora,App,Ruim
98,1dbd0a69-17de-4312-a704-562652361951,2024-03-21,Atendimento ruim,Agência,Ruim
99,b1edee12-a6ad-4137-8cb8-6b6bc5bc3bc0,2024-04-21,Preço alto,Telefone,Neutra

Tabela de Contratos

Ações a serem tomadas com a tabela contratos

1. Criar coluna "periodo_contrato".

In [38]:
df_contratos.head(100)

,id_contrato,id_cliente,tipo_seguro,data_inicio,data_fim,valor_premio_mensal,satisfacao_ultima_avaliacao,canal_venda,renovado_automaticamente
0,63d107e8-f5ee-4df0-807a-4f27b0906442,C04508,Empresarial,2023-02-18,2023-08-17,892.30,Média,Site,False
1,f94c5617-08a1-44ec-88c9-85693e21f5a7,C04599,Vida,2023-08-31,2025-08-30,962.07,Baixa,Agência Física,False
2,036e784d-6795-473f-8097-962d41257043,C00331,Vida,2024-12-12,2025-06-10,511.69,Baixa,App,False
3,2300ac83-89de-49dc-bead-52c95f761041,C01590,Residencial,2023-09-16,2024-09-15,417.14,Baixa,Corretor,False
4,318fc49f-635d-406d-8e6f-4438ad560b1b,C00378,Vida,2024-09-27,2025-03-26,996.09,Baixa,App,True
...,...,...,...,...,...,...,...,...,...
95,d760fa3d-7253-4f72-b2b4-ca154d031bd5,C04435,Residencial,2025-04-11,2027-04-11,1120.70,Média,Agência Física,False
96,34a3b1cc-a0a1-4a58-bc63-78731dfdb71b,C02360,Saúde,2022-07-17,2023-01-13,263.03,Baixa,App,True
97,569ad91a-48bb-47ef-ae79-0e29b0efb45f,C03508,Auto,2025-03-04,2026-03-04,273.30,Alta,App,True
98,9c792926-c58f-4e0d-bed8-ec99acafd74d,C01278,Residencial,2022-11-23,2023-11-23,987.61,Baixa,Corretor,True
99,4340a520-009d-4869-a301-6f32562915ef,C01937,Auto,2023-05-03,2023-10-30,1215.02,Média,App,True

Convertendo em número a coluna de data
O máximo de dias de contrato, são 730 dias, 2 anos.

In [40]:
df_contratos['data_inicio'] = pd.to_datetime(df_contratos['data_inicio'])
df_contratos['data_fim'] = pd.to_datetime(df_contratos['data_fim'])
df_contratos['periodo contrato'] = (df_contratos['data_fim'] - df_contratos['data_inicio']).dt.days

df_contratos['periodo contrato'].max()

np.int64(730)

## 1.Perfil Demográfico do cliente